{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"mocha": true
	},
	"rules": {
		"arrow-body-style": [
			"error",
			"as-needed"
		],
		"react/jsx-filename-extension": [
			"error",
			{
				"extensions": [
					".js",
					".jsx"
				]
			}
		],
		"valid-jsdoc": [
			"error",
			{
				"requireReturn": true,
				"requireReturnType": true,
				"requireParamDescription": true,
				"requireReturnDescription": true
			}
		],
		"require-jsdoc": [
			"error",
			{
				"require": {
					"FunctionDeclaration": true,
					"MethodDefinition": true,
					"ClassDeclaration": false
				}
			}
		],
		"indent": [
			1,
			"tab"
		],
		"no-tabs": 0,
		"react/jsx-indent": false,
		"react/jsx-indent-props": false,
		"react/jsx-curly-brace-presence": [
			"always",
			{
				"props": "always",
				"children": "never"
			}
		],
		"react/jsx-one-expression-per-line": false,
		"import/no-dynamic-require": false,
		"global-require": 0,
		"no-use-before-define": [
			"error",
			{
				"variables": false
			}
		]
	}
}